<div>
  <%= label_tag :table %>
  <%= text_area_tag :phonology_table, "test content", rows: 10, cols: 25 %>
</div>
<div>
  <%= label_tag :notes %>
  <%= text_area_tag :phonology_notes, "test content notes", rows: 3, cols: 25 %>
</div>
