<%= turbo_stream_from :words %>
<div>Words:</div>
<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>English</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody id="words_table">
    <% conlang.words.each do |word| %>
      <%= word_tr word %>
    <% end %>
    <%= new_word_form conlang %>
  </tbody>
</table>
<%# <div class="table"> %>
<%#   <div class="table-header-group"> %>
<%#     <div class="table-row"> %>
<%#       <div class="table-cell">Word</div> %>
<%#       <div class="table-cell">English</div> %>
<%#       <div class="table-cell">Updated</div> %>
<%#     </div> %>
<%#   </div> %>
<%#   <div id="words_table" class="table-row-group"> %>
<%#     <% conlang.words.each do |word| %1> %>
<%#       <%= word_tr word %1> %>
<%#     <% end %1> %>
<%#   </div> %>
<%# </div> %>
